

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>BENSHOP</title>
  </head>
  <body>
	  <!-- navbar -->
	  <nav class="navbar sticky-top navbar-light bg-light">
			<div class="container">
				<a href="/" class="navbar-brand">BENSHOP</a>
			</div>
		</nav>
		<!-- navbar end -->
    
	  <div class="container mt-5">
		  <div class="row d-flex justify-content-center">
			  <div class="col-md-4">
				  
				  <form action="/login" method="post" autocomplete="off">
				  <h1 class="mb-4">Sign In</h1>
					  
				  <!-- alert for account successfully created -->
				  <% if (account_created === true){ %>
				  <div class="alert alert-success alert-dismissible fade show" role="alert">
                     Account successfully created
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
				  <% } %>
				  <!-- end, alert for account successfully created -->
					  
				  <!-- alert for incorrect email or password -->
				  <% if (incorrect_credential === true){ %>
				  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                     Incorrect credential
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
				  <% } %>
				  <!-- end, alert for incorrect email or password -->
			
				  <!-- alert for anonymous customer -->
				  <% if (unknown_customer === true){ %>
				  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                     Must be login first
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
				  <% } %>
				  <!-- end, alert for anonymous customer -->
					  
				  <!-- alert for password reset -->
				  <% if (password_reset === true){ %>
				  <div class="alert alert-success alert-dismissible fade show" role="alert">
                     Password successfully reset
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
				  <% } %>
				  <!-- end -->
				  
				
					  
				  <div class="mb-3">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" required>
                  </div>
				  <div class="mb-3">
					  
					<div class="d-flex justify-content-between">
					 <label>Password</label>
					 <label class="text-secondary fw-light" style="cursor:pointer;" onclick="location.href='/reset';">Forgot?</label>
					</div>
                    
                    <input type="password" class="form-control" name="password" required>
                  </div>
				  <div class="d-grid gap-2">
				  <button type="submit" class="btn btn-dark">SIGN IN</button>
				  <a href="/register" class="btn btn-outline-secondary">CREATE ACCOUNT</a>
				  </div>
				  </form>
				  
				  
			  </div>
		  </div>
	  </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>