

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>BENSHOP</title>
  </head>
  <body>
	  
	  <!-- navbar -->
	  <nav class="navbar sticky-top navbar-light bg-light">
			<div class="container">
				<a href="/" class="navbar-brand">BENSHOP</a>
			</div>
	  </nav>
	  <!-- navbar end -->
    
	  <div class="container mt-5">
		  <div class="row d-flex justify-content-center">
			  <div class="col-md-4">
				  
				  <form action="/reset" method="post" autocomplete="off">
				  <h1 class="mb-4">Reset Password</h1>
				  <p>Enter your email address</p>
				  
			
			      <!-- alert for email not found -->
				  <% if (unknown_email === true){ %>
				  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                     Email not found
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
				  <% } %>
				  <!-- end, alert for anonymous customer -->
					  
				  <!-- alert for email sent -->
				  <% if (reset_email === true){ %>
				  <div class="alert alert-success alert-dismissible fade show" role="alert">
                     We've sent you an email
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
				  <% } %>
				  <!-- end -->
				
				  
				  <div class="mb-3">
                    <label class="text-secondary">Email</label>
                    <input type="email" class="form-control" name="email" required>
                  </div>
		 
				  <div class="d-grid gap-2">
				  <button type="submit" class="btn btn-dark">SEND</button>
				  <a href="/login" class="btn btn-outline-secondary">CANCEL</a>
				  </div>
				  </form>	  
				  <br>
				  <br>
				  
				  
			  </div>
		  </div>
	  </div>

	  

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>