
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>

		<title>BENSHOP</title>
		
	</head>
	<body>
		<nav class="navbar sticky-top navbar-light bg-light">
			<div class="container">
				<a href="/" class="navbar-brand">BENSHOP</a>
			    <div class="ms-auto">
					<!-- navbar-brand to help spacing -->
					<a class="navbar-brand lead" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
					   search
					</a>
					<a href="/cart" class="navbar-brand lead">
					   cart
					</a>
					<a href="/login" class="navbar-brand lead">
					   account
					</a>
				</div>
			</div>
		</nav>
		<!-- navbar end -->

		<!-- modal for search -->
		<div
			class="modal fade"
			id="staticBackdrop"
			data-bs-backdrop="static"
			data-bs-keyboard="false"
			tabindex="-1"
			aria-labelledby="staticBackdropLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<input type="text" class="form-control" placeholder="search our store">
					</div>
				</div>
			</div>
		</div>
		<!-- end, modal for search -->

		<div class="container">
			
			<div class="row justify-content-center mt-5">
				<div class="col-md-4 d-flex justify-content-between">
					<p class="d-inline text-secondary">Sign In</p>
				    <p class="d-inline text-secondary">Shipping</p>
				    <p class="d-inline text-secondary">Payment</p>
				    <p class="d-inline text-secondary">Place Order</p>
				</div>
			</div>
			
			<div class="row justify-content-center mb-5">
				<div class="col-md-4">
					<h2 class="d-inline">Payment Method</h2>
				</div>
			</div>
			
			<div class="row justify-content-center">
				<div class="col-md-4">
				<h4 class="text-secondary">Select Method</h4>
				<div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                    Cash on Delivery
                  </label>
                </div>
				</div>
			</div>
			<br>
			
			<div class="row justify-content-center">
				<div class="col-md-4">
				   <h6 class="text-center text-secondary">OR</h6>
				</div>
			</div>
			<br>
			
			<!-- paypal -->
			<div class="row justify-content-center">
				<div class="col-md-4">
				   <!-- Include the PayPal JavaScript SDK; replace "test" with your own sandbox Business account app client ID -->
                   <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

                   <!-- Set up a container element for the button -->
                   <div id="paypal-button-container"></div>

                   <script>
                     paypal.Buttons({
               
                       // Sets up the transaction when a payment button is clicked
                       createOrder: function(data, actions) {
                         return actions.order.create({
                           purchase_units: [{
                             amount: {
                               value: '77.44' // Can reference variables or functions. Example: `value: document.getElementById('...').value`
                             }
                           }]
                         });
                       },

                       // Finalize the transaction after payer approval
                       onApprove: function(data, actions) {
                         return actions.order.capture().then(function(orderData) {
                           // Successful capture! For dev/demo purposes:
                               console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                               var transaction = orderData.purchase_units[0].payments.captures[0];
                               alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
               
                           // When ready to go live, remove the alert and show a success message within this page. For example:
                           // var element = document.getElementById('paypal-button-container');
                           // element.innerHTML = '';
                           // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                           // Or go to another URL:  actions.redirect('thank_you.html');
                         });
                       }
                     }).render('#paypal-button-container');

                   </script>
				</div>
			</div>
			<!-- end, paypal -->
			
			<br>
			<br>
			
			<div class="row justify-content-center">
				<div class="col-md-4">
				<a href="/shipping" class="btn btn-outline-dark rounded-pill">GO BACK</a>
				<a href="/place" class="btn btn-dark rounded-pill">CONTINUE</a>	
				</div>
			</div>
			
		</div>

		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
	</body>
</html>